
   .card h1 {
      color: #88B04B;
      font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      font-weight: 900;
      font-size: 30px;
      margin-bottom: 10px;
    }
    .card p {
      color: #404F5E;
      font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      font-size:18px;
      margin: 0;
    }
    .card i {
    color: #9ABC66;
   font-size: 100px;
    line-height: 200px;
    margin-left:-15px;
  }
  .card {
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
  }

      
      .card h3 {
        margin: 0 0 10px;
        padding: 0;
        line-height: 1.25;
      }
      
      span {
        font-size: 90%;
      }
      
      #form {
        margin: 25px auto 0;
      }

      a{
       text-decoration: none; 
      }
        
        input {
          margin: 5px 5px;
          text-align: center;
          line-height: 60px;
          font-size: 45px;
          border: solid 1px #ccc;
          box-shadow: 0 0 5px #ccc inset;
          outline: none;
          width: 60px;
          transition: all .2s ease-in-out;
          border-radius: 3px;
          text-transform: uppercase;
        }
          
          input:focus {
            border-color: rgb(74, 76, 226);
            box-shadow: 0 0 5px rgb(74, 76, 226) inset;
          }
          
          input::selection {
            background: transparent;
          }
        
        button {
          width: 50%;
          padding: 6px;
        }
      
      button:close {
          border: solid 2px;
          border-radius: 30px;
          line-height: 19px;
          font-size: 120%;
          width: 22px;
          position: absolute;
          right: 5px;
          top: 5px;
        }           
      
      div {
        position: relative;
        z-index: 1;
      }
      
      img {
        position: absolute;
        bottom: -70px;
        right: -63px;
      }
